@model IEnumerable<StoreVM>

@{
    ViewData["Title"] = "Index";
}


<h1>Restaurants Management</h1>



<br />
<div class="restaurants-list-details-container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <img src="@item.Image" class="img-thumbnail" />
            </div>
            <div class="col-sm-9 col-md-5">
                <div class="restaurants-list-restaurant-name">@item.Name</div>
                <div><a target="_blank" href="@item.Hyperlink">View Menu</a></div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="d-flex justify-content-center align-items-stretch">
                    <a asp-controller="StoreManagement" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i>Update</a>
                    &nbsp;
                    <a asp-controller="StoreManagement" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-trash"></i>Delete</a>
                </div>

            </div>
        </div>
        <br />
    }

    <div class="d-flex justify-content-center align-items-stretch">
        <form asp-area="" asp-controller="StoreManagement" asp-action="Add" method="get">
            <button type="submit"  class="btn btn-primary btn-lg btn-block">Add Restaurant</button>
        </form>
    </div>
</div>




