@model IEnumerable<StoreVM>

@{
    ViewData["Title"] = "Index";
}


<h1>Restaurants Management</h1>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hyperlink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {   

        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "StoreManagement", new { id = item.Id }) 
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Hyperlink)">@Html.DisplayFor(modelItem => item.Hyperlink)</a>
            </td>
            <td>
                <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Image)"/>
            </td>
            <td>
                @Html.ActionLink("Update", "Update", "StoreManagement", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<br />

<form asp-area="" asp-controller="StoreManagement" asp-action="Add" method="get">
    <button type="submit" style="width:20%" class="btn btn-primary btn-lg btn-block">Add Restaurant</button>
</form>
