@model IEnumerable<Session>
@{
    ViewData["Title"] = "SessionHistory";
}

<h1>Sessions History</h1>

<table class="table">
    <tr>
        <th>
            Day
        </th>
        <th>
            Start time
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.StartTime.Day)/
               @Html.DisplayFor(modelItem => item.StartTime.Day)/
               @Html.DisplayFor(modelItem => item.StartTime.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
            </td>
            <td>
                @Html.ActionLink("Details", "Details","Session",null, new { id = item.Id }) 
            </td>
        </tr>
    }
</table>

