@model IEnumerable<Session>
@{
    ViewData["Title"] = "SessionHistory";
}

<h1>Sessions History</h1>

<table class="table">
    <tr>
        <th>
            Day
        </th>
        <th>
            Start time
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th style="font-weight:400;font-size:18px">
               @Html.DisplayFor(modelItem => item.StartTime.Day)/
               @Html.DisplayFor(modelItem => item.StartTime.Month)/
               @Html.DisplayFor(modelItem => item.StartTime.Year)
            </th>
            <th style="font-weight:400;font-size:18px">
                @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
            </th>
            <th style="font-weight:400;font-size:18px">
                @Html.ActionLink("Details", "Details","Session", new { id = item.Id }) 
            </th>
        </tr>
    }
</table>

