@model SessionVM
@{
    ViewData["Title"] = "NewSession";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

@if (Model.HasActiveSession == true)
{
    <h1>Active Restaurants</h1>
    <br />
    <div class="row">

        @foreach (var item in Model.Stores)
        {
            var rowCount = 1;
            Model.Price = 0.0m;

            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 2em">
                <h2>@item.Name</h2>
                <hr />
                <div class="row order-table-header">
                    <div class="col-4">User Name</div>
                    <div class="col-6">Details</div>
                    <div class="col-2">Price</div>
                </div>


                @foreach (var order in Model.Session.Orders)
                {
                    @if (order.Store.Id == item.Id)
                    {
                        var className = "row";
                        Model.Price = Model.Price + order.Price;
                        if (rowCount % 2 == 0)
                        {
                            className += " alternate-primary";
                        }
                        else
                        {
                            className += " alternate-secondary";
                        }

                        <div class="@className">
                            <div class="col-4">@order.User.Name</div>
                            <div class="col-6" style="overflow:auto">@order.Details</div>
                            <div class="col-2">@order.Price</div>
                        </div>

                        rowCount++;
                    }

                }
                <hr />
                <p>Total Price: @Model.Price </p>
                @if (item.IsActive)
                {

                    <div class="d-flex justify-content-center align-items-stretch">
                        <a asp-controller="Session" asp-action="CloseRestaurant" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-window-close"></i>&nbsp;&nbsp;Close Restaurant</a>
                    </div>
                }
                <br />
                <br />
            </div>
            <br />
        }
    </div>
    <br />
    <br />
    <div class="d-flex justify-content-center align-items-stretch">
        <a asp-controller="Session" asp-action="CloseSession" asp-route-id="" class="btn btn-primary"><i class="fas fa-times"></i>&nbsp;&nbsp;Close Session</a>
        &nbsp;
        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;Back</a>
    </div>
}

else
{
    <h1>Create New Session</h1>
    <br />
    <h3>Choose Restaurants</h3>

    <form asp-action="Create" method="post">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Stores)
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.Stores.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Stores.ElementAt(i).Name)
                    </td>
                    <td>
                        <label class="container">
                            <input asp-for="@Model.Stores[i].Id" type="hidden" />
                            <input asp-for="@Model.SelectedStores[i]" type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
            }
        </table>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" style="width:100%" class="btn btn-primary btn-lg btn-block">Create Session</button>
    </form>
}