@model SessionVM
@{
ViewData["Title"] = "NewSession";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

@if (Model.hasActiveSession == true)
{  
    <h1>Active Restaurants</h1>
    <br />
    <div class="row">
         
        @foreach (var item in Model.Stores)
        {
            var rowCount = 1;
            Model.Price = 0.0m;

            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 2em; background-color:#eff3f9">
            <h2>@item.Name</h2>
            <hr />
            <div class="row order-table-header">
            <div class="col-4">User Name</div>
            <div class="col-4">Details</div>
            <div class="col-4">Price</div>
            </div>

            @foreach (var order in Model.Session.Orders)
            {
                @if (order.Store.Id == item.Id)
                {
                    var className = "row";
                    Model.Price = Model.Price + order.Price;
                    if (rowCount % 2 == 0)
                    {
                        className += " alternate-primary";
                    }
                    else
                    {
                        className += " alternate-secondary";
                    }

                    <div class="@className">                           
                    <div class="col-4" style="font-size:80%">@order.User.Name</div>
                    <div class="col-4" style="font-size:80%">@order.Details</div>
                    <div class="col-4" style="font-size:80%">@order.Price</div>
                    </div>

                    rowCount++;
                }
                        
            }  
            <hr />
            <p>Total Price: @Model.Price </p>
            </div>
        }
    </div>
    }


else
{
    <h1>Create New Session</h1>
    <h5>Choose Restaurants</h5>
    <table class="table">
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Stores)
    </th>
    </tr>
    @foreach (var item in Model.Stores)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <label class="container">
            <input type="checkbox">
            <span class="checkmark"></span>
            </label>
        </td>
        </tr>
    }
    </table>
    <form asp-controller="Session" asp-action="NewSession" method="get">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create Session</button>
    </form>
}



