@model SessionVM
@{
ViewData["Title"] = "NewSession";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

@{bool activeSesison = false;
Session currentSession = new Session();
decimal price = 0.00m;
}

    @{
    foreach (var item in Model.Sessions)
    {
        if (item.IsActive == true)
        {
            currentSession = item;
            activeSesison = true;
        }
    }
    }   

    @if (activeSesison == true)
    {  
        <h1>Active Restaurants</h1>
        <br />
        <div class="row">
         
         @foreach (var item in currentSession.Stores)
          {
            var rowCount = 1;
            price = 0.00m;

            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 2em; background-color:#eff3f9">
            <h2>@item.Name</h2>
            <hr />
            <div class="row order-table-header">
            <div class="col-4">User Name</div>
            <div class="col-4">Details</div>
            <div class="col-4">Price</div>
            </div>

           @foreach (var order in currentSession.Orders)
            {
               @if (order.Store.Id == item.Id)
                {
                var className = "row";
                price = price + order.Price;
                if (rowCount % 2 == 0)
                {
                className += " alternate-primary";
                }
                else
                {
                className += " alternate-secondary";
                }

                <div class="@className">                           
                <div class="col-4" style="font-size:80%"></div>
                <div class="col-4" style="font-size:80%">@order.Details</div>
                <div class="col-4" style="font-size:80%">@order.Price</div>
                </div>

                rowCount++;
                }
                        
            }  
            <hr />
            <p>Total Price: @price</p>
            </div>
          }
        </div>
     }
     

    else
    {
    <h1>Create New Session</h1>
    <br />
    <h3>Choose Restaurants</h3>
    <table class="table">
   @foreach (var item in Model.Stores)
    {
        <tr>
        <td>
         @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        <label class="container">
        <input type="checkbox" style="display:none">
        <span class="checkmark"></span>
        </label>
        </td>
        </tr>
    }
    </table>
    
        <input type="submit" value="Create Session" class="btn btn-primary btn-lg btn-block" />
  
    }



